*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
form{
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dangky{
    width: 100px;
    margin: 10px;
    padding: 5px 0;
    border-radius: 1em;
    border: 1px solid black;
}
.fname,.mdname,.lname,.age{
    margin: 10px;
    margin-left: 0;
}
.fname,.mdname,.lname{
    display: grid;
    grid-template-columns: 200px;
}
.input-text{
    border: 1px solid #aaa5a5;
    border-radius: 5px;
    padding: 3px;
}
